{% extends "base.html" %} {% block title %}Election Details{% endblock %}

{% block content %}

<section>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- ELECTION DETAIL -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center pb-4">
                        <h4 class="elect-title">Election Details</h4>
                    </div>
                    <div class="pb-4">
                        <div class="d-flex justify-content-between mb-4">
                            <span>Election Name</span>
                            <span>{{ election.election_name }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <span>State</span>
                            <span>{{ election.election_state }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <span>Start Date</span>
                            <span>{{ election.start_date }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <span>End Date</span>
                            <span>{{ election.end_date }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <span>Election Period</span>
                            <span>{% if election.is_active %}{{ election_days_left }} Days Left{% else %}Over{% endif %}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <span>No. of Candidates</span>
                            <span>{{ candidates|length }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            {% if election.is_active %}
                            {% if not is_voted %}
                            <span>
                                Caste Vote
                            </span>
                            <span><a href="{% url 'voting' election_idd=election.election_uid %}"><button
                                type="button" class="btn btn-primary btn-sm">Vote
                                here</button>
                            </a>
                            </span>
                            {% else %}
                            <span>Vote Status</span>
                            <span class="text-success">Done</span>
                            {% endif %}

                            {% else %}
                            <span>Result</span>
                            <span><a
                                href="{% url 'election-result' election_idd=election.election_uid %}"><button
                                    type="button" class="btn btn-primary btn-sm">Result</button></a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ELECTION DETAIL -->


        <!-- CANDIDATE SECTION -->
        <div class="col-xl-8 col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center pb-4">
                        <h4 class="elect-title">Candidates in Your constituency</h4>
                    </div>
                    {% if cand_number != 0 %}
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for cand_info in candidates %}
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card candidate-card shadow">
                                <img src="{{ cand_info.cand_img.url }}" alt="" class="candidate-img">
                                <div class="card-body text-center">
                                    <p class="card-text">
                                    <h2>{{ cand_info.cand_name }}</h2>
                                    <p title="{{ cand_info.cand_party }} Party">{{ cand_info.cand_party }}</p>
                                    <p>{{ cand_info.cand_const }}</p>
                                    <!-- Button trigger modal -->
                                    <a target="_blank"
                                        href="{% url 'candidate' candidate_idd=cand_info.candidate_uid %}"><button
                                            type="button" class="btn btn-sm btn-outline-dark">More</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END CANDIDATE SECTION -->
    </div>
</section>

{% endblock %}